<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="spoofingProvider" type="Coffee.Security.Authentication.Spoofing.Config.SpoofingProviderSection, Coffee.Security"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <spoofingProvider enabled="True"
                    userType="Coffee.Security.Authentication.Dummy.DummyUser" 
                    credentialsType="Coffee.Security.Authentication.Dummy.DummyCredentials"
                    args=""/>
</configuration>